<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather app using API from DarkSky and MapBox. Enter your location and hit enter or search button</p>
        <img class="portrait" src="https://robohash.org/afiqaz">
    </div>
    
    {{>footer}}
</body>

</html>